.background {
    background: url(../images/bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explorerContainer {
    position: relative;
    width: 85vw;
    height: 80vh;
    background-color: #EFECDD;
    border: 4px solid #000;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #888888;
    overflow-x: hidden;
    overflow-y: auto;
}

.title-bar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #0055E5;
    color: #fff;
    padding: 5px;
    z-index: 1;
}

.title-bar h3 {
    margin: 3px;
    font-weight: 500;
}

.title-bar button {
    cursor: pointer;
    background-color: rgb(197, 69, 69);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 6px;
}

.content {
    padding: 10px;
    color: #000;
}

.block{
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .explorerContainer{
        width: 90vw;
        height: 95vh;
    }
}