footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 49px;
    background: url(../../images/footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
}
/* revisar bug en celu del footer */

.garbage{
    position: absolute;
    top: 25px;
    left: 25px;
    width: 50px;
    height: 50px;
    background: url(../../images/garbage.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 768px) {
 .garbage{
    display: none;
 }   
}